body{
  background-color: #242423 !important;
}

#btn-search{
  color: #F5CB5C;
  border-color: #F5CB5C;
}

.text-color_, #portfolio{
  color: #E8EDDF;
}

.text-color_alpha{
  color: #E8EDDF;
  opacity: 50%;
}
.card__{
  width: 15rem;
}

/* id*/

#homeA{
  color: #F5CB5C;
  font-weight: bold;
}
#contentA{
  border-bottom: 3px solid #F5CB5C;
}


/* hover */
#btn-search:hover{
  color: #242423;
  border-color: #242423;
  background-color: #F5CB5C;
}
.text-color_:hover{
  color: #CFDBD5;
}