.App{
  width: 100%;
  min-height: 100vh;
  background-color: #242423 !important;
}
#btn-search{
  color: #F5CB5C;
  border-color: #F5CB5C;
}

.text-color_, #portfolio{
  color: #E8EDDF;
}

.text-color_alpha{
  color: #E8EDDF;
  opacity: 50%;
}

.hr_{
  display: block;
  width: 75%;
  color: #E8EDDF;
  border: 2px solid #E8EDDF;
}

.icon__{
  width: 2em;
  height: 2em;
  fill: #E8EDDF;
}
.icon__:hover{
  fill: #F5CB5C;
}

span[class|="icon"]{
  font-size: 1em;
  color: #E8EDDF;
}

/* id*/

#homeA{
  color: #F5CB5C;
  font-weight: bold;
}
#contentA{
  border-bottom: 3px solid #F5CB5C;
}


/* hover */
#btn-search:hover{
  color: #242423;
  border-color: #242423;
  background-color: #F5CB5C;
}
.text-color_:hover{
  color: #CFDBD5;
}